.welcome{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.welcome img{
    width: 300px;
    height: 300px;
}
.background:hover{
    background-color: #fff;
}
@media only screen and (max-width:688px) {
    .responsive{
        grid-template-columns: repeat(1,1fr);
    }
    .responsive img{
        width: 100%;
    }
    
}
@media only screen and (min-width:689px) and (max-width:991px) {
    .responsive{
        grid-template-columns: repeat(2,1fr);
    }
    
}